<section class="prosthesis">
    <div class="container">
        <form class="row g-3 needs-validation" novalidate>
            <div class="prosthesis__title">Зареєструватись на протезування</div>
            <div class="prosthesis__subtitle">Оберіть рівень протезування*</div>
            <div class="col-6 col-sm-4 col-md-3 mt-0">
                <div class="items__item">
                    <div class="items__item_img">
                        <img src="img/Group.svg" alt="">
                    </div>
                    <label class="form-check-label" for="inlineCheckbox1">Пальці</label>
                    <div title="squaredThree">
                        <div class="squaredThree">
                            <input type="checkbox" value="None" id="squaredThree" name="check" />
                            <label for="squaredThree"></label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mt-0">
                <div class="items__item">
                    <div class="items__item_img">
                        <img src="img/Group2.svg" alt="">
                    </div>
                    <label class="form-check-label" for="inlineCheckbox2">Кисть</label>
                    <div title="squaredThree">
                        <div class="squaredThree">
                            <input type="checkbox" value="None" id="squaredThree2" name="check" />
                            <label for="squaredThree2"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mt-0">
                <div class="items__item">
                    <div class="items__item_img">
                        <img src="img/Group3.svg" alt="">
                    </div>
                    <label class="form-check-label" for="inlineCheckbox3">Передпліччя</label>
                    <div title="squaredThree">
                        <div class="squaredThree">
                            <input type="checkbox" value="None" id="squaredThree3" name="check" />
                            <label for="squaredThree3"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mt-0">
                <div class="items__item">
                    <div class="items__item_img">
                        <img src="img/Vector4.svg" alt="">
                    </div>
                    <label class="form-check-label" for="inlineCheckbox4">Плече</label>
                    <div title="squaredThree">
                        <div class="squaredThree">
                            <input type="checkbox" value="None" id="squaredThree4" name="check" />
                            <label for="squaredThree4"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mt-0">
                <div class="items__item">
                    <div class="items__item_img">
                        <img src="img/Group5.svg" alt="">
                    </div>
                    <label class="form-check-label" for="inlineCheckbox5">Стопа</label>
                    <div title="squaredThree">
                        <div class="squaredThree">
                            <input type="checkbox" value="None" id="squaredThree5" name="check" />
                            <label for="squaredThree5"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mt-0">
                <div class="items__item">
                    <div class="items__item_img">
                        <img src="img/Group6.svg" alt="">
                    </div>
                    <label class="form-check-label" for="inlineCheckbox6">Гомілка</label>
                    <div title="squaredThree">
                        <div class="squaredThree">
                            <input type="checkbox" value="None" id="squaredThree6" name="check" />
                            <label for="squaredThree6"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mt-0">
                <div class="items__item">
                    <div class="items__item_img">
                        <img src="img/Group7.svg" alt="">
                    </div>
                    <label class="form-check-label" for="inlineCheckbox7">Стегно</label>
                    <div title="squaredThree">
                        <div class="squaredThree">
                            <input type="checkbox" value="None" id="squaredThree7" name="check" />
                            <label for="squaredThree7"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mt-0">
                <div class="items__item">
                    <div class="items__item_img">
                        <img src="img/Group8.svg" alt="">
                    </div>
                    <label class="form-check-label" for="inlineCheckbox8">Обличча</label>
                    <div title="squaredThree">
                        <div class="squaredThree">
                            <input type="checkbox" value="None" id="squaredThree8" name="check" />
                            <label for="squaredThree8"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mt-0">
                <div class="items__item">
                    <div class="items__item_img">
                        <img src="img/Group9.svg" alt="">
                    </div>
                    <label class="form-check-label" for="inlineCheckbox1">Шкіра</label>
                    <div title="squaredThree">
                        <div class="squaredThree">
                            <input type="checkbox" value="None" id="squaredThree9" name="check" />
                            <label for="squaredThree9"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 mt-0 ">
                <div class="items__item">
                    <div class="items__item_img">
                        <img src="img/Group10.svg" alt="">
                    </div>
                    <label class="form-check-label" for="inlineCheckbox9">Інше</label>
                    <div title="squaredThree">
                        <div class="squaredThree">
                            <input type="checkbox" value="None" id="squaredThree10" name="check" />
                            <label for="squaredThree10"></label>
                        </div>
                    </div>
                </div>
            </div>
            <input type="text" class="form-control" id="validationCustom01" required
                placeholder="Прізвище, ім’я, по-батькові" required="required">
            <input type="gmail" class="form-control" id="validationCustom01" placeholder="E-mail*" required>
            <input type="phone " class="form-control" id="validationCustom01" placeholder="Телефон*" required>
            <div class="row">
                <div class="col-12">
                    <label for="validationCustom01" class="form-label">Ви</label>
                </div>
                <div class="radio">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-3 d-flex">
                            <div class="radio__1">
                                <input id="radio-1" type="radio" name="radio" value="1" checked>
                                <label for="radio-1"></label>
                            </div>
                            <div class="text">потерпілий/ла</div>
                        </div>
                        <div class="col-12 col-md-7 col-lg-5 d-flex mt-3 mt-md-0">
                            <div class="radio__2">
                                <input id="radio-2" type="radio" name="radio" value="2">
                                <label for="radio-2"></label>
                            </div>
                            <div class="text">батьки, опікуни чи рідні особи</div>
                        </div>
                    </div>
                </div>
                <input type="text" class="form-control" id="validationCustom01"
                    placeholder="Прізвище, ім’я, по-батькові потерпілого*" required>
                <div class="row">
                    <div class="col-12">
                        <label for="validationCustom01" class="form-label">Стать*</label>
                    </div>
                    <div class="radio">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-3 d-flex">
                                <div class="radio__3">
                                    <input id="radio-3" type="radio" name="radio2" value="3" checked>
                                    <label for="radio-3"></label>
                                </div>
                                <div class="text">жіноча</div>
                            </div>
                            <div class="col-12 col-md-7 col-lg-5 d-flex mt-3 mt-md-0">
                                <div class="radio__4">
                                    <input id="radio-4" type="radio" name="radio2" value="4">
                                    <label for="radio-4"></label>
                                </div>
                                <div class="text">чоловіча</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="validationCustom01" class="form-label">Вік*</label>
                    </div>
                    <div class="radio">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-4 d-flex">
                                <div class="radio__5">
                                    <input id="radio-5" type="radio" name="radio3" value="1" checked>
                                    <label for="radio-5"></label>
                                </div>
                                <div class="text">2–11 років</div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 d-flex mt-3 mt-md-0">
                                <div class="radio__6">
                                    <input id="radio-6" type="radio" name="radio3" value="2">
                                    <label for="radio-6"></label>
                                </div>
                                <div class="text">12–17 років</div>
                            </div>
                        <div class="col-12 col-md-4 col-lg-4 d-flex mt-3 mt-md-0">
                            <div class="radio__7">
                                <input id="radio-7" type="radio" name="radio3" value="2">
                                <label for="radio-7"></label>
                            </div>
                            <div class="text">18 і більше</div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="form-floating m-0 p-0">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                        style="height: 298px"></textarea>
                    <label class="area-text" for="floatingTextarea2">Короткий опис, діагноз*</label>
                </div>
                <button class="btn btn-primary" type="submit">Зареєструватись</button>
        </form>
    </div>
</section>